extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to provide details
    else
        - let Drinks_Id = toShow._id
        - let Drinks_name = toShow.Drinks_name
        - let Drinks_size = toShow.Drinks_size
        - let cost = toShow.cost

        div
            div.row
                div(class='drinkAttr mr-3') ID is:
                div #{Drinks_Id}

            div.row
                div(class='drinkAttr mr-3') name is: 
                div #{Drinks_name}

            div.row
                div(class='drinkAttr mr-3') price is:
                div #{Drinks_size}

            div.row

                div(class='drinkAttr mr-3') cost is:
                div #{cost}